<!DOCTYPE html>
<html ng-app="angularjs-starter">
<head> 
 <script src="html/angular.min.js" type="text/javascript"></script>
  <script src="html/chatWindow.js" type="text/javascript"></script>

</head>
<body>
	
<div ng-controller="chatWindow" ng-init="init()"> 
 <ul class="unstyled">
<li ng-repeat="line in messages">
<span>{[line.msg]} </span> <span>{[line.username]} </span>
 </li>
 </ul>
<input id="val" ng-model="msg" />
<input id="username" ng-model="username" />
<button ng-click="sendMsg()">Post that message!</button>

</div>


</body>
</html>